<div class="party-view">
  
  <div class="content-wrapper" mat-dialog-content>
    <div class="title-model">
      <h1 mat-dialog-title>Party Details</h1>
      <button class="close-button" (click)="onClose()">×</button>

    </div>
    <!-- <p><strong>ID:</strong> {{ data.id }}</p> -->
    <p><strong>Name:</strong> {{ data.name }}</p>
    <p><strong>Company Name:</strong> {{ data.company_name }}</p>
    <p><strong>Mobile No:</strong> {{ data.mobile_no }}</p>
    <p><strong>Telephone No:</strong> {{ data.telephone_no || 'N/A' }}</p>
    <p><strong>Whatsapp No:</strong> {{ data.whatsapp_no || 'N/A' }}</p>
    <p><strong>Email:</strong> {{ data.email }}</p>
    <p><strong>Remark:</strong> {{ data.remark || 'N/A' }}</p>
    <p><strong>Date of Birth:</strong> {{ data.date_of_birth }}</p>
    <p><strong>Anniversary Date:</strong> {{ data.anniversary_date }}</p>
    <p><strong>GSTIN:</strong> {{ data.gstin || 'N/A' }}</p>
    <p><strong>PAN No:</strong> {{ data.pan_no || 'N/A' }}</p>
    <p><strong>Credit Limit:</strong> {{ data.credit_limit || 'N/A' }}</p>
    <p><strong>Apply TDS:</strong> {{ data.apply_tds ? 'Yes' : 'No' }}</p>
    <p><strong>Active:</strong> {{ data.is_active ? 'Yes' : 'No' }}</p>
    <div *ngIf="data.image">
      <p><strong>Image:</strong></p>
      <img [src]="data.image" alt="Party Image" />
    </div>

    <div *ngIf="data.address && data.address.length > 0">
      <h3>Addresses</h3>
      <ng-container *ngFor="let address of data.address; let i = index">
        <div>
          <p><strong>Address Line 1:</strong> {{ address.address_line_1 }}</p>
          <p><strong>Address Line 2:</strong> {{ address.address_line_2 }}</p>
          <p><strong>Country:</strong> {{ address.country }}</p>
          <p><strong>State:</strong> {{ address.state }}</p>
          <p><strong>City:</strong> {{ address.city }}</p>
          <p><strong>Pincode:</strong> {{ address.pincode }}</p>
          <p><strong>Active:</strong> {{ address.is_active ? 'Yes' : 'No' }}</p>
          <hr />
        </div>
      </ng-container>
    </div>

    <div *ngIf="data.bank_id && data.bank_id.length > 0">
      <h3>Banks</h3>
      <ng-container *ngFor="let bank of data.bank_id; let i = index">
        <div>
          <p><strong>Bank IFSC Code:</strong> {{ bank.bank_ifsc_code }}</p>
          <p><strong>Bank Name:</strong> {{ bank.bank_name }}</p>
          <p><strong>Branch Name:</strong> {{ bank.branch_name }}</p>
          <p><strong>Account Number:</strong> {{ bank.account_no }}</p>
          <p><strong>Account Holder Name:</strong> {{ bank.account_holder_name }}</p>
          <p><strong>Active:</strong> {{ bank.is_active ? 'Yes' : 'No' }}</p>
          <hr />
        </div>
      </ng-container>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onClose()">Close</button>
    </div>
  </div>
 
</div>
